In [104]:
import pandas as pd
import numpy as np

In [105]:
df = pd.read_csv('temp.csv',encoding= "ISO-8859-1")

In [106]:
df.head()

,Unnamed: 0,Product Name,Prices,Description
0,0,"REDMI 10 (Midnight Black, 64 GB)","â¹9,999",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1,1,"POCO X4 Pro 5G (Laser Blue, 128 GB)","â¹16,499",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2,2,"realme C11 2021 (Cool Grey, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3,3,"APPLE iPhone 14 (Starlight, 128 GB)","â¹67,999",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,4,"realme C11 2021 (Cool Blue, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...

In [107]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [108]:
df.head()

,Product Name,Prices,Description
0,"REDMI 10 (Midnight Black, 64 GB)","â¹9,999",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)","â¹16,499",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2,"realme C11 2021 (Cool Grey, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3,"APPLE iPhone 14 (Starlight, 128 GB)","â¹67,999",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,"realme C11 2021 (Cool Blue, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...

In [109]:
df['Prices'] = df['Prices'].str.replace('â¹','')
df['Prices'] = df['Prices'].str.replace(',','')

In [110]:
df.head()

,Product Name,Prices,Description
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  960 non-null    object
 1   Prices        960 non-null    object
 2   Description   960 non-null    object
dtypes: object(3)
memory usage: 22.6+ KB

In [112]:
df['Prices'] = df['Prices'].astype('int')

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  960 non-null    object
 1   Prices        960 non-null    int32
 2   Description   960 non-null    object
dtypes: int32(1), object(2)
memory usage: 18.9+ KB

In [114]:
df['Brand Name'] = df['Product Name'].str.split(' ').str[0]

In [115]:
df.head()

,Product Name,Prices,Description,Brand Name
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme

In [116]:
df.tail()

,Product Name,Prices,Description,Brand Name
955,"vivo V25 5G (Surfing Blue, 256 GB)",31999,12 GB RAM | 256 GB ROM16.36 cm (6.44 inch) Ful...,vivo
956,"OPPO A15s (Dynamic Black, 64 GB)",10285,4 GB RAM | 64 GB ROM16.56 cm (6.52 inch) Displ...,OPPO
957,Nokia 110 TA-1302 DS,2099,4 MB RAM | 4 MB ROM | Expandable Upto 32 MB4.5...,Nokia
958,"I Kall King Talking, Contact icon and Auto Cal...",774,32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...,I
959,"Tecno Spark 9 (Infinity Black, 128 GB)",9724,6 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,Tecno

In [117]:
df.head()

,Product Name,Prices,Description,Brand Name
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme

In [118]:
df['Brand Name'].value_counts()

realme        131
REDMI          92
SAMSUNG        90
vivo           62
Infinix        60
APPLE          59
POCO           54
itel           51
MOTOROLA       48
LAVA           37
OPPO           35
Micromax       31
Nokia          31
Tecno          28
Kechaoda       24
KARBONN        20
IQOO           13
Cellecor        7
Nothing         6
MTR             6
Redmi           6
MU              6
Google          6
BlackZone       5
Xiaomi          5
I               5
Motorola        5
Moto            4
MarQ            4
DIZO            4
Realme          4
Good            3
GREENBERRI      3
PHILIPS         3
OnePlus         3
Lava            3
SAREGAMA        2
Easyfone        1
Itel            1
Energizer       1
Salora          1
Name: Brand Name, dtype: int64

In [119]:
temp = df['Brand Name'].value_counts()>3
df=df[df['Brand Name'].isin(temp[temp].index.get_level_values(0).values)]

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 939 entries, 0 to 959
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  939 non-null    object
 1   Prices        939 non-null    int32
 2   Description   939 non-null    object
 3   Brand Name    939 non-null    object
dtypes: int32(1), object(3)
memory usage: 33.0+ KB

In [121]:
df['Brand Name'].value_counts()

realme       131
REDMI         92
SAMSUNG       90
vivo          62
Infinix       60
APPLE         59
POCO          54
itel          51
MOTOROLA      48
LAVA          37
OPPO          35
Micromax      31
Nokia         31
Tecno         28
Kechaoda      24
KARBONN       20
IQOO          13
Cellecor       7
MU             6
Redmi          6
Nothing        6
MTR            6
Google         6
I              5
Xiaomi         5
Motorola       5
BlackZone      5
DIZO           4
Realme         4
Moto           4
MarQ           4
Name: Brand Name, dtype: int64

In [122]:
df['Description']

0      4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1      6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2      2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3      128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4      2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
                             ...
955    12 GB RAM | 256 GB ROM16.36 cm (6.44 inch) Ful...
956    4 GB RAM | 64 GB ROM16.56 cm (6.52 inch) Displ...
957    4 MB RAM | 4 MB ROM | Expandable Upto 32 MB4.5...
958    32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...
959    6 GB RAM | 128 GB ROM | Expandable Upto 512 GB...
Name: Description, Length: 939, dtype: object