In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('temp.csv',encoding= "ISO-8859-1")

In [4]:
df.head()

,Unnamed: 0,Product Name,Prices,Description
0,0,"REDMI 10 (Midnight Black, 64 GB)","â¹9,999",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1,1,"POCO X4 Pro 5G (Laser Blue, 128 GB)","â¹16,499",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2,2,"realme C11 2021 (Cool Grey, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3,3,"APPLE iPhone 14 (Starlight, 128 GB)","â¹67,999",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,4,"realme C11 2021 (Cool Blue, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...

In [5]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [6]:
df.head()

,Product Name,Prices,Description
0,"REDMI 10 (Midnight Black, 64 GB)","â¹9,999",4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)","â¹16,499",6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2,"realme C11 2021 (Cool Grey, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3,"APPLE iPhone 14 (Starlight, 128 GB)","â¹67,999",128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,"realme C11 2021 (Cool Blue, 32 GB)","â¹7,499",2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...

In [7]:
df['Prices'] = df['Prices'].str.replace('â¹','')
df['Prices'] = df['Prices'].str.replace(',','')

In [8]:
df.head()

,Product Name,Prices,Description
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  960 non-null    object
 1   Prices        960 non-null    object
 2   Description   960 non-null    object
dtypes: object(3)
memory usage: 22.6+ KB

In [10]:
df['Prices'] = df['Prices'].astype('int')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  960 non-null    object
 1   Prices        960 non-null    int32
 2   Description   960 non-null    object
dtypes: int32(1), object(2)
memory usage: 18.9+ KB

In [12]:
df['Brand Name'] = df['Product Name'].str.split(' ').str[0]

In [13]:
df.head()

,Product Name,Prices,Description,Brand Name
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme

In [14]:
df.tail()

,Product Name,Prices,Description,Brand Name
955,"vivo V25 5G (Surfing Blue, 256 GB)",31999,12 GB RAM | 256 GB ROM16.36 cm (6.44 inch) Ful...,vivo
956,"OPPO A15s (Dynamic Black, 64 GB)",10285,4 GB RAM | 64 GB ROM16.56 cm (6.52 inch) Displ...,OPPO
957,Nokia 110 TA-1302 DS,2099,4 MB RAM | 4 MB ROM | Expandable Upto 32 MB4.5...,Nokia
958,"I Kall King Talking, Contact icon and Auto Cal...",774,32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...,I
959,"Tecno Spark 9 (Infinity Black, 128 GB)",9724,6 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,Tecno

In [15]:
df.head()

,Product Name,Prices,Description,Brand Name
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme

In [16]:
df['Brand Name'].value_counts()

realme        131
REDMI          92
SAMSUNG        90
vivo           62
Infinix        60
APPLE          59
POCO           54
itel           51
MOTOROLA       48
LAVA           37
OPPO           35
Micromax       31
Nokia          31
Tecno          28
Kechaoda       24
KARBONN        20
IQOO           13
Cellecor        7
Nothing         6
MTR             6
Redmi           6
MU              6
Google          6
BlackZone       5
Xiaomi          5
I               5
Motorola        5
Moto            4
MarQ            4
DIZO            4
Realme          4
Good            3
GREENBERRI      3
PHILIPS         3
OnePlus         3
Lava            3
SAREGAMA        2
Easyfone        1
Itel            1
Energizer       1
Salora          1
Name: Brand Name, dtype: int64

In [17]:
temp = df['Brand Name'].value_counts()>3
df=df[df['Brand Name'].isin(temp[temp].index.get_level_values(0).values)]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 939 entries, 0 to 959
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  939 non-null    object
 1   Prices        939 non-null    int32
 2   Description   939 non-null    object
 3   Brand Name    939 non-null    object
dtypes: int32(1), object(3)
memory usage: 33.0+ KB

In [19]:
df['Brand Name'].value_counts()

realme       131
REDMI         92
SAMSUNG       90
vivo          62
Infinix       60
APPLE         59
POCO          54
itel          51
MOTOROLA      48
LAVA          37
OPPO          35
Micromax      31
Nokia         31
Tecno         28
Kechaoda      24
KARBONN       20
IQOO          13
Cellecor       7
MU             6
Redmi          6
Nothing        6
MTR            6
Google         6
I              5
Xiaomi         5
Motorola       5
BlackZone      5
DIZO           4
Realme         4
Moto           4
MarQ           4
Name: Brand Name, dtype: int64

In [20]:
df['Description']

0      4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....
1      6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...
2      2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
3      128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4      2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...
                             ...
955    12 GB RAM | 256 GB ROM16.36 cm (6.44 inch) Ful...
956    4 GB RAM | 64 GB ROM16.56 cm (6.52 inch) Displ...
957    4 MB RAM | 4 MB ROM | Expandable Upto 32 MB4.5...
958    32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...
959    6 GB RAM | 128 GB ROM | Expandable Upto 512 GB...
Name: Description, Length: 939, dtype: object

In [21]:
df['RAM'] = df['Description'].str.split('RAM').str[0]

In [22]:
df.head()

,Product Name,Prices,Description,Brand Name,RAM
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI,4 GB
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO,6 GB
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB

In [23]:
for i in df.index:
              if(len(df['RAM'][i])>5):
                            df['RAM'][i] = ''  # np.nan

C:\Users\MI\AppData\Local\Temp\ipykernel_5856\3456031788.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RAM'][i] = ''  # np.nan

In [24]:
df.head()

,Product Name,Prices,Description,Brand Name,RAM
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI,4 GB
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO,6 GB
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE,
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB

In [25]:
df.head(100)

,Product Name,Prices,Description,Brand Name,RAM
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI,4 GB
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO,6 GB
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE,
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB
...,...,...,...,...,...
95,"realme 9i (Prism Blue, 64 GB)",13499,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,realme,4 GB
96,"vivo T1 44W (Starry Sky, 128 GB)",15999,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,vivo,6 GB
97,"vivo T1 44W (Midnight Galaxy, 128 GB)",17999,8 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,vivo,8 GB
98,Nokia 105 SS,1299,32 MB RAM | 32 MB ROM4.5 cm (1.77 inch) QVGA D...,Nokia,
99,"MOTOROLA g22 (Iceberg Blue, 64 GB)",9499,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB16....,MOTOROLA,4 GB

In [35]:
df.to_csv('file1.csv')

PermissionError: [Errno 13] Permission denied: 'file1.csv'

In [36]:
df = pd.read_csv('file1.csv',encoding= "ISO-8859-1")

In [28]:
df.head()

,Unnamed: 0,Product Name,Prices,Description,Brand Name,RAM
0,0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI,4 GB
1,1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO,6 GB
2,2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB
3,3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE,NaN
4,4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2 GB

In [37]:
df['RAM'] = df['RAM'].astype('int')

In [ ]:
df.head()

,Unnamed: 0,Product Name,Prices,Description,Brand Name,RAM
0,389,SAMSUNG Guru Music 2,2069,0.53 RAM | NA KB ROM | Expandable Upto 16 GB5....,SAMSUNG,53
1,61,Nokia 105 PLUS,1399,4 MB RAM | 4 MB ROM4.5 cm (1.77 inch) Display0...,Nokia,4
2,100,Nokia 105 PLUS,1399,4 MB RAM | 4 MB ROM4.5 cm (1.77 inch) Display0...,Nokia,4
3,118,Motorola a10,1339,0 MB ROM | Expandable Upto 32 GB4.57 cm (1.8 i...,Motorola,4
4,120,LAVA GEM,1499,0 MB ROM | Expandable Upto 32 GB7.11 cm (2.8 i...,LAVA,4

In [38]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [39]:
df.tail()

,Product Name,Prices,Description,Brand Name,RAM
934,"vivo V25 5G (Surfing Blue, 256 GB)",31999,12 GB RAM | 256 GB ROM16.36 cm (6.44 inch) Ful...,vivo,1200
935,"OPPO A15s (Dynamic Black, 64 GB)",10285,4 GB RAM | 64 GB ROM16.56 cm (6.52 inch) Displ...,OPPO,4000
936,Nokia 110 TA-1302 DS,2099,4 MB RAM | 4 MB ROM | Expandable Upto 32 MB4.5...,Nokia,4
937,"I Kall King Talking, Contact icon and Auto Cal...",774,32 MB RAM | 32 MB ROM4.57 cm (1.8 inch) Displa...,I,32
938,"Tecno Spark 9 (Infinity Black, 128 GB)",9724,6 GB RAM | 128 GB ROM | Expandable Upto 512 GB...,Tecno,6000

In [52]:
for i in df.index:
              temp = "ROM"
              if temp in df['Description'][i]:
                            s = df['Description'][i].index("ROM")-7
                            e = df['Description'][i].index("ROM")
                            if(e==0):
                                          df.at[i,'ROM'] = np.nan 
                            else:  
                                          df.at[i,'ROM'] = df['Description'][i][s:e].strip()
              else:
                            df.at[i,'ROM'] = np.nan

In [54]:
df.head()

,Product Name,Prices,Description,Brand Name,RAM,ROM
0,"REDMI 10 (Midnight Black, 64 GB)",9999,4 GB RAM | 64 GB ROM | Expandable Upto 1 TB17....,REDMI,4000,64 GB
1,"POCO X4 Pro 5G (Laser Blue, 128 GB)",16499,6 GB RAM | 128 GB ROM | Expandable Upto 1 TB16...,POCO,6000,128 GB
2,"realme C11 2021 (Cool Grey, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2000,32 GB
3,"APPLE iPhone 14 (Starlight, 128 GB)",67999,128 GB ROM15.49 cm (6.1 inch) Super Retina XDR...,APPLE,6000,128 GB
4,"realme C11 2021 (Cool Blue, 32 GB)",7499,2 GB RAM | 32 GB ROM | Expandable Upto 256 GB1...,realme,2000,32 GB

In [55]:
df['ROM'] = df['ROM'].str.replace(' GB','000')
df['ROM'] = df['ROM'].str.replace(' MB','')

In [63]:
df['ROM'] = df['ROM'].str.replace('|','')

C:\Users\MI\AppData\Local\Temp\ipykernel_5856\2376931467.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['ROM'] = df['ROM'].str.replace('|','')

In [103]:
df = pd.read_csv('file2.csv',encoding= "ISO-8859-1")

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    939 non-null    int64
 1   Product Name  939 non-null    object
 2   Prices        939 non-null    int64
 3   Description   939 non-null    object
 4   Brand Name    939 non-null    object
 5   RAM           939 non-null    int64
 6   ROM           939 non-null    int64
dtypes: int64(4), object(3)
memory usage: 51.5+ KB

In [104]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 939 entries, 0 to 938
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product Name  939 non-null    object
 1   Prices        939 non-null    int64
 2   Description   939 non-null    object
 3   Brand Name    939 non-null    object
 4   RAM           939 non-null    int64
 5   ROM           939 non-null    int64
 6   Size(inches)  939 non-null    float64
 7   Batter(mAh)   939 non-null    int64
dtypes: float64(1), int64(4), object(3)
memory usage: 58.8+ KB

In [74]:
for i in df.index:
              temp = "inch"
              if temp in df['Description'][i]:
                            s = df['Description'][i].index("(")+1
                            e = df['Description'][i].index("inch")
                            if(e==0):
                                          df.at[i,'Size(inches)'] = np.nan 
                            else:  
                                          df.at[i,'Size(inches)'] = df['Description'][i][s:e].strip()
              else:
                            df.at[i,'Size(inches)'] = np.nan

In [84]:
df['Size(inches)'].astype('float')

0      6.70
1      6.67
2      6.50
3      6.10
4      6.50
       ...
934    6.44
935    6.52
936    1.77
937    1.80
938    6.60
Name: Size(inches), Length: 939, dtype: float64

In [87]:
for i in df.index:
              temp = "mAh"
              if temp in df['Description'][i]:
                            s = df['Description'][i].index("mAh")-5
                            e = df['Description'][i].index("mAh")
                            if(e==0):
                                          df.at[i,'Batter(mAh)'] = np.nan 
                            else:  
                                          df.at[i,'Batter(mAh)'] = df['Description'][i][s:e].strip()
              else:
                            df.at[i,'Batter(mAh)'] = np.nan

In [ ]:
df.to_csv('file1.csv')